@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$color:gray;
$color-writen: white;
$primary-font:'Roboto',
sans-serif;
$secondary-font:'Shrikhand',
cursive;
$color-primary:#9356dc;
$color-secondary:#ff79da;
$color-tertiary:#99E2D0;
$gradient:linear-gradient(0.50turn,
$color-secondary 0%,
$color-primary 100%);
@mixin btn {
    opacity: 1;
    background: $gradient;
    color: $color-writen;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}

@mixin flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
}

.header {
    background-color: lighten($color, 50%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: $secondary-font;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20);
    &__logo {
        margin: 10px;
        font-size: 26px;
        a {
            text-decoration: none;
            color: black;
        }
    }
}

.restaurant__recherche {
    @include flexBox;
    background-color: lighten($color, 45%);
    height: 40px;
    #search {
        border: none;
        background-color: lighten($color, 45%);
    }
    i {
        margin: 10px 10px 10px 30px;
    }
     ::placeholder {
        font-weight: bold;
        color: black;
    }
}

.reservation {
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
    background-color: lighten($color, 48%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__titre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 30px;
    }
    h2 {
        margin: 0 20px;
    }
    p {
        margin-bottom: 0;
        font-size: 18px;
    }
    &__bouton {
        font-size: 16px;
        @include btn;
    }
}

.fonctionnement {
    margin: 40px 20px 50px 20px;
    h2 {
        margin-left: 10px;
    }
    &__bloc {
        display: flex;
        align-items: center;
        margin: 20px;
    }
    &__numero {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: $color-primary;
        @include flexBox;
        color: $color-writen;
        position: absolute;
        left: 30px;
    }
    &__fonction {
        background-color: lighten($color, 48%);
        height: 30px;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        border-radius: 25px;
        width: 100%;
        cursor: pointer;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
        i {
            color: lighten($color, 10%);
            font-size: 18px;
        }
        &:hover {
            background-color: lighten($color-primary, 35%);
            i:hover {
                color: $color-primary;
            }
        }
        p {
            margin: 0 20px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.restaurants {
    background-color: lighten($color, 48%);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    &__titre {
        margin: 20px 30px 0 30px;
    }
    &__restaurant--carte {
        height: 280px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        margin: 20px;
        cursor: pointer;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
        a {
            text-decoration: none;
            color: black;
        }
        &-galerie {
            position: relative;
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }
            &-nouveau {
                position: absolute;
                right: 15px;
                top: -5px;
                margin-top: 20px;
                background: darken($color-tertiary, 5%);
                border-radius: 2px;
                border: none;
                padding: 5px 10px;
                color: darken($color-tertiary, 45%);
                font-weight: bold;
                font-size: 14px;
            }
        }
        &-description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 20px;
            &-nom {
                margin: 0;
                h3 {
                    margin: 0 0 5px 0;
                }
                p {
                    margin: 0;
                }
            }
        }
        &-icone {
            font-size: 24px;
            &:hover {
                background: $gradient;
            }
        }
    }
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.pied {
    background-color: darken($color, 30%);
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    &__logo {
        color: $color-writen;
        font-family: $secondary-font;
        font-size: 20px;
        text-decoration: none;
        margin: 20px 0;
    }
    &__lien {
        display: flex;
        flex-direction: column;
        &--bas {
            margin-bottom: 10px;
            a {
                text-decoration: none;
                color: $color-writen;
                i {
                    font-size: 15px;
                    width: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}