@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.header {
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Shrikhand", cursive;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.header__logo {
  margin: 10px;
  font-size: 26px;
}
.header a {
  text-decoration: none;
  color: black;
}
.header__fleche {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 20px;
}

footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

.pied {
  background-color: #343434;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.pied__logo {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  text-decoration: none;
  margin: 20px 0;
}
.pied__lien {
  display: flex;
  flex-direction: column;
}
.pied__lien--bas {
  margin-bottom: 10px;
}
.pied__lien--bas a {
  text-decoration: none;
  color: white;
}
.pied__lien--bas a i {
  font-size: 15px;
  width: 20px;
  margin-right: 5px;
}

.restaurant__bouton {
  font-size: 16px;
  opacity: 1;
  background: linear-gradient(0.5turn, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  min-width: 170px;
  margin: 20px;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.1);
}
.restaurant__bouton a {
  text-decoration: none;
  color: black;
  color: white;
  font-weight: bold;
}
.restaurant__bouton:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px #343434;
  background: linear-gradient(45deg, #9356dc, #ff79da, #99E2D0);
}

.restaurants__restaurant--carte-icone {
  font-size: 24px;
  display: flex;
}

i.fas.fa-heart.plein {
  background: linear-gradient(0.5turn, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
i.fas.fa-heart.plein:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.5s linear;
}

i.far.fa-heart.vide {
  color: black;
  position: absolute;
}
i.far.fa-heart.vide:hover {
  color: transparent;
}

.restaurant__recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  height: 50px;
}
.restaurant__recherche #search {
  border: none;
  background-color: #eeeeee;
}
.restaurant__recherche i {
  margin: 10px 10px 10px 30px;
}
.restaurant__recherche ::placeholder {
  font-weight: bold;
  color: black;
}

.reservation {
  width: 100%;
  margin: 0;
  padding-bottom: 40px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation__titre {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
}
.reservation h2 {
  margin: 0 20px;
}
.reservation p {
  margin: 10px 0;
  font-size: 18px;
}

.fonctionnements {
  margin: 30px 20px 60px 20px;
  display: flex;
  flex-direction: column;
}
.fonctionnements h2 {
  margin: 10px 5px;
}

.fonctionnement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.fonctionnement__bloc {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 10px 10px;
}
@media screen and (max-width: 1023px) and (min-width: 599px) {
  .fonctionnement__bloc {
    margin: 10px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__bloc {
    width: 300px;
  }
}
.fonctionnement__numero {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: -10px;
}
.fonctionnement__fonction {
  background-color: whitesmoke;
  height: 30px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.1);
  transition: all 400ms;
  color: gray;
}
.fonctionnement__fonction:hover {
  color: #9356dc;
  background-color: #f2eafb;
}
.fonctionnement__fonction p {
  margin: 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.restaurants {
  background-color: whitesmoke;
  padding: 30px 0 60px 0;
  display: flex;
  flex-direction: column;
}
.restaurants__titre {
  margin: 20px 30px 0 30px;
}
.restaurants__liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurants__restaurant--carte {
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin: 10px 20px;
  cursor: pointer;
  width: 100%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1023px) and (min-width: 599px) {
  .restaurants__restaurant--carte {
    margin: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__restaurant--carte {
    width: 45%;
    height: 280px;
  }
}
.restaurants__restaurant--carte:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
.restaurants__restaurant--carte a {
  text-decoration: none;
  color: black;
}
.restaurants__restaurant--carte-galerie {
  position: relative;
}
.restaurants__restaurant--carte-galerie img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
@media screen and (min-width: 1024px) {
  .restaurants__restaurant--carte-galerie img {
    height: 200px;
  }
}
.restaurants__restaurant--carte-galerie-nouveau {
  position: absolute;
  right: 15px;
  top: -5px;
  margin-top: 20px;
  background: #85dcc7;
  border-radius: 2px;
  border: none;
  padding: 7px 10px 5px 10px;
  color: #217460;
  font-weight: bold;
}
.restaurants__restaurant--carte-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}
.restaurants__restaurant--carte-description-nom {
  margin: 0;
}
.restaurants__restaurant--carte-description-nom h3 {
  margin: 0 0 5px 0;
}
.restaurants__restaurant--carte-description-nom p {
  margin: 0;
}

.carte {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: -60px;
}
.carte__image {
  height: 300px;
}
.carte__image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.carte__restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 50px 50px 0 0;
  background-color: whitesmoke;
  align-items: center;
  transform: translateY(-60px);
  padding-bottom: 50px;
}
.carte__restaurant--nom {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
  width: 100%;
}
.carte__restaurant--nom h2 {
  margin: 20px;
  font-family: Shrikhand, "cursive";
}
@media screen and (min-width: 1024px) {
  .carte__restaurant--nom h2 {
    font-size: 30px;
  }
}
.carte__restaurant--nom i {
  margin: 20px;
}

.carte__menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 600px;
}
@media screen and (max-width: 1023px) and (min-width: 599px) {
  .carte__menu--restaurant {
    width: 100%;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .carte__menu--restaurant {
    width: 100%;
  }
}
.carte__menu--restaurant-service {
  margin: 0 20px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.carte__menu--restaurant-service::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.carte__menu--restaurant-plats {
  background-color: white;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  box-shadow: 0px 3px 3px #b3b3b3;
  overflow: hidden;
  width: 300px;
  animation: apparition 1s ease-in-out;
}
@media screen and (max-width: 1023px) and (min-width: 599px) {
  .carte__menu--restaurant-plats {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .carte__menu--restaurant-plats {
    width: 100%;
  }
}
.carte__menu--restaurant-plats-titre {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}
.carte__menu--restaurant-plats-titre h3 {
  margin: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte__menu--restaurant-plats-titre p {
  margin: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte__menu--restaurant-plats-prix {
  padding-left: 2em;
  font-weight: bold;
  margin: 0 10px;
}
.carte__menu--restaurant-plats-choix {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 20%;
  height: 60px;
  transition: all 1s ease-out;
  transform: translateX(100%);
  overflow: hidden;
  color: white;
  max-width: 0;
}
.carte__menu--restaurant-plats-choix i {
  font-size: 24px;
}
.carte__menu--restaurant-plats:hover > .carte__menu--restaurant-plats-choix {
  transform: translateX(0);
  max-width: 20%;
}
.carte__menu--restaurant-plats:hover > .carte__menu--restaurant-plats-choix i {
  transform: rotate(360deg);
  transition: all 0.5s linear 0.5s;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
  animation: loaderNone 3s linear;
  opacity: 0;
}

.loader__icone {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  animation: rotateDroite 6S linear infinite;
}
.loader__icone i {
  position: absolute;
}
.loader__icone .fa-utensils {
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.loader__icone .deg0 {
  top: 0;
  left: 130px;
  color: #9356DC;
}
.loader__icone .deg90 {
  transform: rotate(90deg);
  top: 130px;
  right: 3px;
  color: #ff79DA;
}
.loader__icone .deg180 {
  transform: rotate(180deg);
  bottom: 0;
  left: 130px;
  color: #9356DC;
}
.loader__icone .deg270 {
  transform: rotate(270deg);
  top: 130px;
  left: 3px;
  color: #ff79DA;
}

.loader__cercle1 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-top: 5px solid #9356dc;
  border-left: 5px dashed #ff79da;
  border-bottom: 5px solid #99E2D0;
  border-radius: 50%;
  animation: rotateGauche 3s linear infinite;
}

.loader__cercle2 {
  position: absolute;
  width: 335px;
  height: 335px;
  border-top: 5px solid #9356dc;
  border-left: 5px dashed #ff79da;
  border-bottom: 5px solid #99E2D0;
  border-radius: 50%;
  animation: rotateDroite 3s linear infinite;
}

.loader__titre {
  position: absolute;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
}

body {
  animation: noscroll 3s ease-out;
}

@keyframes noscroll {
  0% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@keyframes rotateGauche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotateDroite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderNone {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
