.restaurant__bouton {
    font-size: 16px;
    @include btn;
    margin: 20px;
    box-shadow: $box-shadow;
    a {
        @include style-a;
        color: $color-writen;
        font-weight: bold;
    }
    &:hover {
        opacity: 0.9;
        box-shadow: 5px 5px 10px darken($color, 30);
        background: linear-gradient(45deg, #9356dc, #ff79da, #99E2D0);
    }
}