.restaurants__restaurant--carte-icone {
    font-size: 24px;
    display: flex;
}

i.fas.fa-heart.plein {
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    &:hover {
        opacity: 1;
        transform: scale(1.1);
        transition: all .5s linear;
    }
}

i.far.fa-heart.vide {
    color: black;
    position: absolute;
    &:hover {
        color: transparent;
    }
}