$color:gray;
$color-writen: white;
$primary-font:'Roboto',
sans-serif;
$secondary-font:'Shrikhand',
cursive;
$color-primary:#9356dc;
$color-secondary:#ff79da;
$color-tertiary:#99E2D0;
$gradient:linear-gradient(0.50turn, $color-secondary 0%, $color-primary 100%);
$shadow: rgba(0, 0, 0, 0.1);
$box-shadow:2px 5px 5px 2px $shadow;